   <div class="profile">
     Photo:              <%= @profile.image_url %>
     Name:               <%= @profile.name %><br/>
     Title:              <%= @profile.user_type %><br/>
     Hair:               <%= @profile.hair %><br/>
     Location:           <%= @profile.location %><br/>
     Bio:                <%= @profile.bio %><br/>
   </div>
