   <div class="profile">
     Photo:              <%= @profile.profile_pic %>
     Name:               <%= @profile.name        %>      <br/>
     Website:   <a href="<%= @profile.website     %>"></a><br/>
     Title:              <%= @profile.user_type   %>      <br/>
     Location:           <%= @profile.location    %>      <br/>
     Hair:               <%= @profile.hair        %>      <br/>
     Bio:                <%= @profile.bio         %>      <br/>
   </div>
