   <div class="account">
     Photo:              <%= @event.image_url       %>
     Name:               <%= @event.title  %><br/>
     Category:           <%= @event.event_type  %><br/>
     Title:              <%= @event.location    %><br/>
     Hair:               <%= @event.date        %><br/>
     Location:           <%= @event.time        %><br/>
     Bio:                <%= @event.description %><br/>
   </div>
  <% end %>
