
<ul>
  <%= image_tag "3.jpg" %>
  <%= image_tag "1.jpg" %>
  <%= image_tag "2.jpg" %>
  <%= image_tag "5.jpg" %>
</ul>

<div class = 'search_bar'>
    <%= text_field_tag :search %>
    <%= submit_tag 'Search' %>
</div>


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>erik_iggmark_portfolio</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<!--   <header>
    <div class="half">
      <img src="Images/iggmark_logo.png" alt="IGGMARK Logo" class="iggmark-logo vertically-centered">
    </div> -->
<!--     <div class="half">
      <div class="half nav">
        <p><strong>Portfolio</strong></p>
        <p>Profil</p>
        <p>Kontact (@)</p>
      </div> -->
      <div class="half social">
        <div class="social-icons-wrapper horizontally-centered">
          <img src="images/twitter.jpg" class="social-icon" alt="twitter">
          <img src="images/pinterest.png" class="social-icon" alt="pinterest">
          <!-- <img src="images/instagram.jpg" class="social-icon" alt="instagram"> -->
        </div>
      </div>
    </div>
  </header>
  <div class="portfolio-wrapper">
    <div class="portfolio-row horizontally-centered">
      <div class="portfolio-item">
        <img src="images/0.jpg" alt="">
      </div>
      <div class="portfolio-item">
        <img src="images/1.jpg" alt="">
      </div>
      <div class="portfolio-item">
        <img src="images/2.jpg" alt="">
      </div>
      <div class="portfolio-item">
        <img src="images/3.jpg" alt="">
      </div>
    </div>
    <div class="portfolio-row horizontally-centered">
      <div class="portfolio-item">
        <img src="images/4" alt="">
      </div>
      <div class="portfolio-item">
        <img src="images/5" alt="">
      </div>
      <div class="portfolio-item">
        <img src="images/55.jpg" alt="">
      </div>
      <div class="portfolio-item">
        <img src="images/6.jpg" alt="">
      </div>
    </div>
    <div class="portfolio-row horizontally-centered">
      <div class="portfolio-item">
        <img src="images/7.jpg" alt="">
      </div>
      <div class="portfolio-item">
        <img src="images/10.jpg" alt="">
      </div>
      <div class="portfolio-item">
        <img src="images/11.jpg" alt="">
      </div>
      <div class="portfolio-item">
        <img src="images/14.jpg" alt="">
      </div>
    </div>
  </div>
  <footer>
    <div class="half">
      <img src="images/iggmark_symbol.png" alt="">
    </div>
    <div class="half">
      <p class="copyright">@ 2014 Brik Iggmark</p>
    </div>
  </footer>
  <script src="scripts/main.js"></script>
</body>
</html>
