<a href='/#'>Attend Event</a>
<a href='/events/new'>Add an Event</a>
<a href='/events'>Return to Events</a>

<br/>
<p>
  <div class="events">
    Photo:              <%= @event.pic_url     %>
    Alias:              <%= @event.title       %><br/>
    Category:           <%= @event.category    %><br/>
    Title:              <%= @event.location    %><br/>
    Hair:               <%= @event.date        %><br/>
    Location:           <%= @event.time        %><br/>
    Bio:                <%= @event.description %><br/>
  </div>
</p>
