   <div class="events">
     Photo:              <%= @event.image_url %>
     Name:               <%= @event.name %><br/>
     Title:              <%= @event.user_type %><br/>
     Hair:               <%= @event.hair %><br/>
     Location:           <%= @event.location %><br/>
     Bio:                <%= @event.bio %><br/>
   </div>
  <% end %>
