<a href='/#'>Attend Event</a>
<a href='/events/new'>Add an Event</a>
<a href='/events'>Return to Events</a>

<br/>
<p>
  <div class="events">
    Event:              <%= @event.pic_url       %><br/>
    Title:              <%= @event.title         %><br/>
    Category:           <%= @event.category      %><br/>
    Location:           <%= @event.location      %><br/>
    Date:               <%= @event.date          %><br/>
    Time:               <%= @event.time          %><br/>
    Description:        <%= @event.description   %><br/>
    Posted by:          <%  current_user.name    %><br/>
  </div>
</p>
