  <div class="events">
    Photo:              <%= @event.image_url   %>
    Alias:              <%= @event.title       %><br/>
    Category:           <%= @event.event_type  %><br/>
    Title:              <%= @event.location    %><br/>
    Hair:               <%= @event.date        %><br/>
    Location:           <%= @event.time        %><br/>
    Bio:                <%= @event.description %><br/>
    <% end %>
  </div>
