<!DOCTYPE html>
<html>
<head>
  <title>Hairfree</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<div class="logo"><small><%= image_tag "fl.jpg" %></small></div>
    <div class="nav">
        <% if session[:user_id] %>
          <a href="/logout">Log Out</a>
        <% else %>
          <span>
            <a href="/login">Log In</a>
            <a href="/signup">Sign Up</a>
          </span>
        <% end %>
    </div>
  </div>

  <%= yield %>

</body>
</html>
