<!DOCTYPE html>
<html>
<head>
  <title>Hairfree</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


    <div class="header">
      <span>
        <strong><h1>H    A    I    R    F    R    E    E!</h1></strong>
      </span>
    </div>

    <div class="nav">
        <% if session[:access_token] %>
          <span>
            <a href='/home'>Home</a>
            <a href='/profiles/show/:id'>Your Profile</a>
            <a href='/events'>Events</a>
            <a href="/logout">Log Out</a>
          </span>
        <% elsif session[:user_id] %>
          <span>
            <a href='/home'>Home</a>
            <a href='/profiles/show/:id'>Your Profile</a>
            <a href='/events'>Events</a>
            <a href="/logout">Log Out</a>
          </span>
        <% else %>
              <a href='/oauth/connect'>Sign in with Instagram</a></p>
            <span>
              <a href='/login'>login</a>
              <a href='/signup'>signup</a>
            </span>
      <% end %>
    </div>
      <div class="logo-icon">
          <footer>
            <div class="half"><%= image_tag "fl.jpg" %></div>
          </footer>
      </div>

  <%= yield %>

</body>
</html>
