<!DOCTYPE html>
<html>
<head>
  <title>Hairfree</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

      <div class="logo-icon">
          <footer>
            <div class="half"><%= image_tag "fl.jpg" %></div>
          </footer>
      </div>
<div class="container">
  <ul class="nav nav-tabs">
          <% if session[:access_token] %>
                <span class = "sign-in-links">
                <strong>
                  <a href="/logout">Log Out</a>
                </strong></span>
              <strong><large><span>
                <a href='/profile/show'>Profile</a>
                <a href='/home' >Home</a>
                <a href='/events'>Events</a>
                <a href='/messages/new'>Messages</a>
              </strong></span></large>
          <% elsif session[:user_id] %>
                <span class = "sign-in-links">
                  <a href="/logout">Log Out</a></li>
                </span>
              <strong><large><span>
                <a href='/profile/show'>Profile</a>
                <a href='/home' >Home</a>
                <a href='/events'>Events</a>
                <a href='/messages/new'>Messages</a>
              </strong></span></large>
          <% else %>
                <a href='/oauth/connect'>Sign in with Instagram</a><br/>
              <span class = "sign-in-links">
                <a href='/login'>login</a>
                <a href='/signup'>signup</a><br/>
              </span>
              <span>
                <a href='/home'>Home</a>
                <a href='/events'>Events</a>
              </span>
          <% end %>
  </ul>
</div>
      <div class="logo-name"><%= image_tag "logo.jpg" %></div>

  <%= yield %>

</body>
</html>
