<!DOCTYPE html>
<html>
<head>
  <title>Hairfree</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<div class="half"><%= image_tag "ga-lockup.png" %></div>
    <div class="half">
      <ul>
        <% if session[:user_id] %>
          <li><a href="/logout">Log Out</a></li>
        <% else %>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">Log In</a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <%= yield %>

</body>
</html>
