<!DOCTYPE html>
<html>
<head>
  <title>Hairfree</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

      <div class="logo-icon">
          <footer>
            <div class="half"><%= image_tag "fl.jpg" %></div>
          </footer>
      </div>
<div class="container">
  <ul class="nav nav-tabs">
          <% if session[:user_id] %>
              <strong>
                <span class = "sign-in-links">
                  <a href="/logout">Log Out</a>
                </span>
                <span>
                  <a href='/profile/show'>Profile</a>
                  <a href='/home' >Home</a>
                  <a href='/events'>Events</a>
                  <a href='/messages/new'>Messages</a>
                  <!-- <a href='/forums/index'>Forums</a> -->
                </span>
              </strong>

          <% else %>
            <strong>
              <span class = "sign-in-links">
                <a href='/oauth/connect'><button>Sign in with Instagram</button></a><br/>
                <a href='/login'>login</a>
                <a href='/signup'>signup</a><br/>
              </span>
              <span>
                <a href='/events'>Events</a>
                <a href='/home'>Home</a>
              </span>
            </strong>
          <% end %>
  </ul>
</div>
      <div class="logo-name"><%= image_tag "logo.jpg" %></div>

  <%= yield %>

</body>
</html>
