<!DOCTYPE html>
<html>
<head>
  <title>Hairfree</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


    <div class="header">
      <span>
        <small><%= image_tag "fl.jpg" %></small>
        <h1>H  A  I  R  F  R  E  E!</h1>
      </span>
    </div>
    <div class="nav">
        <% if session[:user_id] %>
          <a href="/logout">Log Out</a>
        <% else %>
            <p><a href='/oauth/connect'>Sign in with Instagram</a></p>
            <span>
                <a href='/login'>login</a>
                <a href='/signup'>signup</a>
            </span>
        <% end %>
    </div>

  <%= yield %>

</body>
</html>
