<!DOCTYPE html>
<html>
<head>
  <title>Hairfree</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

      <div class="logo-icon">
          <footer>
            <div class="half"><%= image_tag "fl.jpg" %></div>
          </footer>
      </div>
      <div class="logo-name"><%= image_tag "logo.jpg" %></div>
          <% if @current_user %>
                <li><a href="/logout">Log Out</a><br/></li>
<div class="container">
  <ul class="nav nav-tabs">
              <span>
                <li><a href='/profile'>Profile</a></li>
                <li><a href='/home'>Home</a></li>
                <li><a href='/events'>Events</a></li>
                <li><a href='/messages/new'>Messages</a></li>
              </span>
  </ul>
</div>
          <% else %>
                <li><a href='/oauth/connect'>Sign in with Instagram</a><br/></li>
              <span>
                <li><a href='/login'>login</a></li>
                <li><a href='/signup'>signup</a></li><br/>
              </span>
              <div class="container">
              <span>
                <li><a href='/home'>Home</a></li>
                <li><a href='/events'>Events</a></li>
              </span>
          <% end %>

  <%= yield %>

</body>
</html>
